
{% extends 'components/base.html' %}
{% load static %}

{% block content %}
        <main>
            <div class="container">   
                <section class="profile" id="profile">
                   <div class="widgets">
                        <div class="widget profile_info">
                            <h3>{{user.organization_type}} {{user.last_name}} {{user.first_name}} {{user.middle_name}}</h3>
                            <p>ИНН {{user.inn}}</p>
                            <p>ОГРН {{user.ogrn}}</p>
                            <p>Система НО: {{user.tax_system.name}}</p>
                        </div>
                        <div class="widget to_be_payed">
                            <h3>Требуется оплата</h3>
                            <div class="to_be_payed__block">
                                <div>
                                    <h4>Бухгалтеру</h4>
                                    
                                    {% if receipts__summ.summ__sum %}
                                        <span class="red">{{receipts__summ.summ__sum}} ₽ </span>
                                        <sub>по {{receipts__count}} пакетам услуг</sub>
                                        <a href="/profile/receipts?page=1&status=0" class="primary_button">Подробнее</a>
                                    {% else %}
                                        <span class="green">0 ₽ </span>
                                        <sub>Задолженностей нет</sub>
                                    {% endif %}
                                </div>
                                <div>
                                    <h4>Государству</h4>
                                    {% if services__summ.summ__sum %}
                                        <span class="red">{{services__summ.summ__sum}} ₽ </span>
                                        <sub>по {{services__count}} пакетам квитанций</sub>
                                        <a href="/profile/services?page=1&status=0" class="primary_button">Подробнее</a>
                                    {% else %}
                                        <span class="green">0 ₽ </span>
                                        <sub>Задолженностей нет</sub>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                        <div class="widget my_documents">
                            <h3>Мои документы</h3>
                            <div class="document__block">
                                {% for document in user.document_set.all %}
                                    <div class="document">
                                        <iconify-icon icon="material-symbols:document-scanner-outline" style="color: #8b00ff;" width="40" height="40"></iconify-icon>
                                        <p>{{document.name}}</p>
                                        <a class="primary_button" target="_blank" href="{{document.file.url}}" download>Скачать</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                   </div>
                </section>
            </div>
        </main>

{% endblock content %}