
{% extends 'components/base.html' %}
{% load static %}

{% block content %}
        <main>
            <div class="container">   
                <section class="profile" id="profile">
                   <div class="widgets">
                        <div class="widget profile_info">
                            <h3>{{user.organization_type}} {{user.last_name}} {{user.first_name}} {{user.middle_name}}</h3>
                            <p>ИНН {{user.inn}}</p>
                            <p>ОГРН {{user.ogrn}}</p>
                            <p>Система НО: {{user.tax_system.name}}</p>
                        </div>
                        <div class="widget to_be_payed">
                            <h3>Требуется оплата</h3>
                            <div class="to_be_payed__block">
                                <div>
                                    <h4>Бухгалтеру</h4>
                                    <span>500,00₽ </span>
                                    <sub>по 1 пакету услуг</sub>
                                    <a class="primary_button">Подробнее</a>
                                </div>
                                <div>
                                    <h4>Государству</h4>
                                    <span>12 654,32₽ </span>
                                    <sub>по 4 квитанциям</sub>
                                    <a class="primary_button">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="widget my_documents">
                            <h3>Мои документы</h3>
                            <div class="document__block">
                                {% for document in user.document_set.all %}
                                    <div class="document">
                                        <iconify-icon icon="material-symbols:document-scanner-outline" style="color: #8b00ff;" width="40" height="40"></iconify-icon>
                                        <p>{{document.name}}</p>
                                        <a class="primary_button" target="_blank" href="{{document.file.url}}" download>Скачать</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                   </div>
                </section>
            </div>
        </main>

{% endblock content %}