
{% extends 'components/base.html' %}
{% load static %}

{% block content %}
        <main>
            <div class="container">   
                <section class="receipts" id="receipts">
                   
                    <div class="charges_wrapper">
                        <div>
                            <div class="sidebar">
                                <div class="type_filter">
                                    <a>Все</a>
                                    <a>Пенсионный фонд</a>
                                    <a>Работники</a>
                                    <a>Налоги</a>
                                </div>
                                <div>
                                    <div class="date_filter">
                                        <div class="form_group">
                                            <label>От</label>
                                            <input type="date">
                                        </div>
                                        <div class="form_group">
                                            <label>До</label>
                                            <input type="date">
                                        </div>
                                    </div>
                                    <div class="status_filter">
                                        <div class="form_group">
                                            <label>Статус</label>
                                            <select>
                                                <option>Требуется оплата</option>
                                                <option>Оплачено</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button href="#" class="primary_button filter_button">Найти</button>
                            </div>
                        </div>
                        <div class="charges__block">
                            {% for receipt in receipts %}
                                <div class="charge__item">
                                    <div class="charge__item__header">
                                        <div>
                                            <h4>Пакет квитанций № {{receipt.pk}}</h4>
                                            <h5>{{receipt.type}}</h5>
                                        </div>
                                        <div>
                                            <p>24.01.2023</p>
                                            <span class="{% if receipt.status == 'Требуется оплата' %}red_status{% else %}green_status{% endif %}">{{receipt.status}}</span>
                                        </div>
                                    </div>
                                    <div class="charge__item__footer">
                                        <span>
                                            {{receipt.summ}} руб. 
                                        </span>
                                        <div class="charge__item__footer__buttons">
                                            <a class="primary_button" href="/profile/receipts/{{receipt.pk}}">Подробнее</a>
                                            <!-- <a class="secondary_button">Прикрепить</a> -->
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </main>
{% endblock content %}