
{% extends 'components/base.html' %}
{% load static %}

{% block content %}
        <main>
            <div class="container">   
                <section class="receipts" id="receipts">
                   
                    <div class="charges_wrapper">
                        <div>
                            <div class="sidebar">
                                <div class="type_filter">
                                    <a>Все</a>
                                    {% for type in types %}
                                    <a>{{type.name}}</a>
                                    {% endfor %}
                                </div>
                                <div>
                                    <!-- <div class="date_filter">
                                        <div class="form_group">
                                            <label>От</label>
                                            <input type="date">
                                        </div>
                                        <div class="form_group">
                                            <label>До</label>
                                            <input type="date">
                                        </div>
                                    </div> -->
                                    <div class="status_filter">
                                        <div class="form_group">
                                            <label>Статус</label>
                                            <select>
                                                <option>Не установлен</option>
                                                <option>Требуется оплата</option>
                                                <option>Оплачено</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button href="#" class="primary_button filter_button">Найти</button>
                            </div>
                        </div>
                        <div class="charges__block">
                            {% for receipt in receipts %}
                                <div class="charge__item">
                                    <div class="charge__item__header">
                                        <div>
                                            <h4>Пакет квитанций № {{receipt.pk}}</h4>
                                            <h5>{{receipt.type}}</h5>
                                        </div>
                                        <div>
                                            <p>{{receipt.created_at}}</p>
                                            {% if receipt.status == 'Требуется оплата' %}
                                                <span class="red_status">{{receipt.status}} до {{receipt.must_be_payed_at}} </span>
                                            {% else %}
                                                <span class="green_status">{{receipt.status}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="charge__item__footer">
                                        <span>
                                            {{receipt.summ}} руб. 
                                        </span>
                                        <div class="charge__item__footer__buttons">
                                            <a class="primary_button" href="/profile/receipts/{{receipt.pk}}">Подробнее</a>
                                            <!-- <a class="secondary_button">Прикрепить</a> -->
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="pagination">
                                <span class="step-links">
                                    {% if receipts.has_previous %}
                                        <a href="{{ request.path }}?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a>
                                        <a href="{{ request.path }}?page={{ receipts.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Назад</a>
                                    {% endif %}
                            
                                    <span class="current">
                                        Страница {{ receipts.number }} из {{ receipts.paginator.num_pages }}.
                                    </span>
                            
                                    {% if receipts.has_next %}
                                        <a href="{{ request.path }}?page={{ receipts.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Вперед</a>
                                        <a href="{{ request.path }}?page={{ receipts.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
{% endblock content %}