
{% extends 'components/base.html' %}
{% load static %}

{% block content %}
        <main>
            <div class="container">   
                <section class="services" id="services">
                    <div class="charges_wrapper">
                        <div>
                            <div class="sidebar">
                                <div class="type_filter">
                                    <a>Все</a>
                                    {% for type in types %}
                                    <a>{{type.name}}</a>
                                    {% endfor %}
                                </div>
                                <div>
                                    <!-- <div class="date_filter">
                                        <div class="form_group">
                                            <label>От</label>
                                            <input type="date">
                                        </div>
                                        <div class="form_group">
                                            <label>До</label>
                                            <input type="date">
                                        </div>
                                    </div> -->
                                    <div class="status_filter">
                                        <div class="form_group">
                                            <label>Статус</label>
                                            <select>
                                                <option>Не установлен</option>
                                                <option>Требуется оплата</option>
                                                <option>Оплачено</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button href="#" class="primary_button filter_button">Найти</button>
                                </div>
                            </div>
                        </div>
                        <div class="charges__block">
                            {% for service in services %}
                            <div class="charge__item">
                                <div class="charge__item__header">
                                    <div>
                                        <h4>Пакет услуг № {{service.pk}}</h4>
                                        <h5>{{service.type}}</h5>
                                    </div>
                                    
                                    <div>
                                        <p>{{service.created_at}}</p>
                                        {% if service.status == 'Требуется оплата' %}
                                            <span class="red_status">{{service.status}} до {{service.must_be_payed_at}} </span>
                                        {% else %}
                                            <span class="green_status">{{service.status}}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="charge__item__footer">
                                    <span>
                                        {{service.summ}} руб. 
                                    </span>
                                    <div class="charge__item__footer__buttons">
                                        <a class="primary_button" href="/profile/services/{{service.pk}}">Подробнее</a>
                                        <!-- <a class="secondary_button">Прикрепить</a> -->
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </section>
            </div>
        </main>
{% endblock content %}