
{% extends 'components/base.html' %}
{% load static %}

{% block content %}
        <main>
            <div class="container">   
                <section class="services" id="services">
                    <div class="charges_wrapper">
                        <div>
                            <div class="sidebar">
                                <div class="type_filter">
                                    <a {% if request.GET.type == "" or  not request.GET.type%} class="active" {% endif %} data-id="0">Все</a>
                                    {% for type in types %}
                                    <a {% if request.GET.type == type.id|stringformat:"i" %} class="active" {% endif %} data-id="{{type.id}}">{{type.name}}</a>
                                    {% endfor %}
                                </div>
                                <div>
                                    <!-- <div class="date_filter">
                                        <div class="form_group">
                                            <label>От</label>
                                            <input type="date">
                                        </div>
                                        <div class="form_group">
                                            <label>До</label>
                                            <input type="date">
                                        </div>
                                    </div> -->
                                    <div class="status_filter">
                                        <div class="form_group">
                                            <label>Статус</label>
                                            <select>
                                                <option value="" >Не установлен</option>
                                                <option value="0" {% if request.GET.status == "0" %} selected {% endif %}>Требуется оплата</option>
                                                <option value="1" {% if request.GET.status == "1" %} selected {% endif %}>Оплачено</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button id="filter_button" class="primary_button filter_button">Найти</button>
                                </div>
                            </div>
                        </div>
                        <div class="charges__block">
                            {% for service in services %}
                            <div class="charge__item">
                                <div class="charge__item__header">
                                    <div>
                                        <h4>Пакет услуг № {{service.pk}}</h4>
                                        <h5>{{service.type}}</h5>
                                    </div>
                                    
                                    <div>
                                        <p>{{service.created_at}}</p>
                                        {% if service.status == 'Требуется оплата' %}
                                            <span class="red_status">{{service.status}} до {{service.must_be_payed_at}} </span>
                                        {% else %}
                                            <span class="green_status">{{service.status}}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="charge__item__footer">
                                    <span>
                                        {{service.summ}} руб. 
                                    </span>
                                    <div class="charge__item__footer__buttons">
                                        <a class="primary_button" href="/profile/services/{{service.pk}}">Подробнее</a>
                                        <!-- <a class="secondary_button">Прикрепить</a> -->
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="pagination">
                                <span class="step-links">
                                    {% if services.has_previous %}
                                        <a href="{{ request.path }}?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a>
                                        <a href="{{ request.path }}?page={{ services.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Назад</a>
                                    {% endif %}
                            
                                    <span class="current">
                                        Страница {{ services.number }} из {{ services.paginator.num_pages }}.
                                    </span>
                            
                                    {% if services.has_next %}
                                        <a href="{{ request.path }}?page={{ services.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Вперед</a>
                                        <a href="{{ request.path }}?page={{ services.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
{% endblock content %}