
{% extends 'components/base.html' %}
{% load static %}

{% block content %}
        <main>
            <div class="container">   
                <section class="services" id="services">
                    <div class="charges_wrapper">
                        <div>
                            <div class="sidebar">
                                <div class="type_filter">
                                    <a>Все</a>
                                    <a>Пенсионный фонд</a>
                                    <a>Работники</a>
                                    <a>Налоги</a>
                                </div>
                                <div>
                                    <div class="date_filter">
                                        <div class="form_group">
                                            <label>От</label>
                                            <input type="date">
                                        </div>
                                        <div class="form_group">
                                            <label>До</label>
                                            <input type="date">
                                        </div>
                                    </div>
                                    <div class="status_filter">
                                        <div class="form_group">
                                            <label>Статус</label>
                                            <select>
                                                <option>Требуется оплата</option>
                                                <option>Оплачено</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button href="#" class="primary_button filter_button">Найти</button>
                                </div>
                            </div>
                        </div>
                        <div class="charges__block">
                            {% for service in services %}
                            <div class="charge__item">
                                <div class="charge__item__header">
                                    <div>
                                        <h4>Пакет услуг № {{service.pk}}</h4>
                                        <h5>{{service.type}}</h5>
                                    </div>
                                    <div>
                                        <p>24.01.2023</p>
                                        <span class="{% if service.status == 'Требуется оплата' %}red_status{% else %}green_status{% endif %}">{{service.status}}</span>
                                    </div>
                                </div>
                                <div class="charge__item__footer">
                                    <span>
                                        {{service.summ}} руб. 
                                    </span>
                                    <div class="charge__item__footer__buttons">
                                        <a class="primary_button" href="/profile/services/{{service.pk}}">Подробнее</a>
                                        <!-- <a class="secondary_button">Прикрепить</a> -->
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </section>
            </div>
        </main>
{% endblock content %}