{% extends 'components/base.html' %}
{% load static %}

{% block content %}
        <main>
            <div class="container">   
                <section class="charge_page" id="charge_page">
                    <div class="page_header">
                        <div>
                            <h2>Пакет квитанций № {{id}}</h2>
                            <h3>{{receipt.type}}</h3>
                        </div>
                        <div>
                            <p>{{receipt.created_at}}</p>
                            <span class="{% if receipt.status == 'Требуется оплата'%}red_status{% else %}green_status{% endif %}">{{receipt.status}}</span>
                        </div>
                    </div>
                    <div class="price">
                        {{receipt.summ}} руб. к оплате
                    </div>
                    <div class="comment_block">
                        <p>{{receipt.description}}</p>
                    </div>
                    <div class="documents_block">
                        <h2>Документы</h2>
                        <div class="documents_list">
                            {% for document in receipt.documentofpackageofreceipts_set.all %}
                                <div class="document">
                                    <iconify-icon icon="material-symbols:document-scanner-outline" style="color: #8b00ff;" width="40" height="40"></iconify-icon>
                                    <p>{{document.file.name}}</p>
                                    <a class="primary_button" href="{{document.file.url}}" target="_blank">Скачать</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="invoices_block">
                        <h2>Подтверждение оплаты</h2>
                        <p>Чтобы подтвердить оплату, прикрепите, пожалуйста платежные документы</p>
                        <input type="file" multiple>
                        <button class="primary_button">Загрузить</button>
                    </div>
                    <div class="payments_block">
                        <h2>Приклепленные чеки</h2>
                        <div class="documents_list">
                            <div class="document">
                                <iconify-icon icon="mdi:file-check-outline" style="color: #8b00ff;" width="40" height="40"></iconify-icon>
                                <a href="#">Чек об оплате</a>
                            </div>
                            <div class="document">
                                <iconify-icon icon="mdi:file-check-outline" style="color: #8b00ff;" width="40" height="40"></iconify-icon>
                                <a href="#">ПП</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
{% endblock content %}
