{% load static %}

<footer>
    <div class="container">
        <div class="footer">
            <a class="logo" href="/">                    
                <img src="{% static 'assets/LOGO_WHITE.svg' %}">
            </a>
            <div class="header__info">
                <h4>г. Лиски, ул. Коммунистическая, д. 24</h4>
                <p>iusrt@mail.ru</p>
            </div>
            <div class="header__info">
                <h4>+7 (920) 464-20-72</h4>
                <p>8.00-18.00 пн-сб</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
<script src="{% static 'js/burger.js' %}"></script>