{% load static %}

<header>
    <div class="container">
        <div class="header_wrapper">
            <div class="header">
                <a class="logo" href="/">
                    <img src="{% static 'assets/LOGO.svg' %}">
                </a>
                <div class="header__info">
                    <h4>г. Лиски, ул. Коммунистическая, д. 24</h4>
                    <p>iusrt@mail.ru</p>
                </div>
                <div class="header__info">
                    <h4>+7 (920) 464-20-72</h4>
                    <p>8.00-18.00 пн-сб</p>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/#hero">Главная</a></li>
                    <li><a href="/#services">Услуги</a></li>
                    <li><a href="/#contacts">Контакты</a></li>
                    <li><a href="/#partners">Партнеры</a></li>
                    <li><a class="account_button" href="/auth">Личный кабинет</a></li>
                </ul>
            </div>
            <div class="burger">
                <iconify-icon icon="solar:hamburger-menu-linear" width="40" height="40"></iconify-icon>
            </div>
        </div>
    </div>
</header>