{% load static %}

<header>
    <div class="container">
        <div class="header_wrapper">
            <div class="header">
                <a class="logo" href="/">
                    <img src="{% static 'assets/LOGO.svg' %}">
                </a>
                <div class="header__info">
                    <h4>г. Лиски, ул. Коммунистическая, д. 24</h4>
                    <p><a href="mailto:iusrt@mail.ru">iusrt@mail.ru<a></p>
                </div>
                <div class="header__info">
                    <h4><a href="tel:+7 (920) 464-20-72">+7 (920) 464-20-72</a></h4>
                    <p>8.00-18.00 пн-сб</p>
                </div>
            </div>
            <div class="menu">
                {% if user.is_authenticated %}
                    <ul>
                        <li><a href="/#hero">Главная</a></li>
                        <li><a href="/profile">Профиль</a></li>
                        <li><a href="/profile/receipts">Квитанции</a></li>
                        <li><a href="/profile/services">Услуги</a></li>
                        <li>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button class="logout_button" type="submit">Выйти</button>
                            </form>
                        </li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="/#hero">Главная</a></li>
                        <li><a href="/#services">Услуги</a></li>
                        <li><a href="/#contacts">Контакты</a></li>
                        <li><a href="/#partners">Партнеры</a></li>
                        <li><a class="account_button" href="/login">Личный кабинет</a></li>
                    </ul>
                {% endif %}
            </div>
            <div class="burger">
                <iconify-icon icon="solar:hamburger-menu-linear" width="40" height="40"></iconify-icon>
            </div>
        </div>
    </div>
</header>